/* =========================
# Index
========================= */
#bnrBg-index {
  background-image: url("../images/index/uc-berkeley-sather-gate.jpg");
  background-size: cover;
}
#flexBg-index-lsi {
  background-image: url("../images/index/bg-lsi-visiting-bair-lab.jpg");
  background-size: cover;
  background-position: 75% 50%;
}
@media screen and (min-width: 768px) {
  #flexBg-index-lsi {
    background-attachment: fixed;
    background-position: 100% 50%;
  }
}
#flexBg-index-walex {
  background: #00a598 url("../images/index/bg-walex-visiting-lawrence-hall-of-science.jpg");
  background-size: cover;
  background-position: 50%;
}
#mission h2 {
  font-weight: 700;
}

/* =========================
# About
========================= */
#bnrBg-about {
  background-image: url("../images/about/bg-cfm.jpg");
  background-size: cover; 
  background-position: 50% 60%;
}
#mission .glassOverlayWrapper,
#mission .glassOverlayWindow:before {
  background-image: url("../images/about/bg-ucb-library.jpg");
  background-position: 50%;
}

/* =========================
# Berkeley
========================= */
#bnrBg-berkeley {
  background-image: url("../images/ucberkeley/bg-ucb.jpg");
  background-size: cover; 
  background-position: 50% 32%;
}
#bnrBg-ucb-overlook {
  background-image: url("../images/ucberkeley/bg-ucb-overlook.jpg");
  background-size: cover; 
  background-position: 50% 65%;
}

/* =========================
# ATDP
========================= */
#bnrBg-atdp {
  background-image: url("../images/atdp/bg-atdp.jpg");
  background-size: cover; 
  background-position: 50% 80%;
}
#atdp-logo img {
  height: 70px;
  width: auto;
  padding-right: 20px;
}
#bnrBg-atdp-intro {
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3)), url("../images/atdp/atdp-counselors-at-campanile.jpg");
  background-size: cover; 
  background-position: 50% 80%;
  height: 60vh;
  position: relative;
}
@media screen and (min-width: 768px) {
  #bnrBg-atdp-intro {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.3), transparent), url("../images/atdp/atdp-counselors-at-campanile.jpg");
  }
}
#atdp-eligibility img {
  height: 40vh;
}
@media screen and (min-width: 1200px) {
  #atdp-eligibility img {
    height: 35vh;
  }
}
#flexBg-atdp-admission {
  background-image: url("../images/atdp/atdp-go-bears.jpg");
  background-size: cover; 
  background-position: 50%;
  height: 60vh;
  position: relative;
}
#flexBg-atdp-fee {
  background-image: url("../images/atdp/atdp-counselors.jpg");
  background-size: cover; 
  background-position: 50%;
  height: 60vh;
  position: relative;
}
#bnrBg-atdp-curriculum-architecture {
  background-image: linear-gradient(to top, rgba(70,83,94,.5), rgba(70,83,94,1)), url("../images/atdp/atdp-curriculum-architecture.jpg");
  background-size: cover; 
  background-position: 50% 80%;
  background-blend-mode: color;
  position: relative;
}
#bnrBg-atdp-curriculum-business {
  background-image: linear-gradient(to top, rgba(70,83,94,.5), rgba(70,83,94,1)), url("../images/atdp/atdp-curriculum-business.jpg");
  background-size: cover; 
  background-position: 50% 60%;
  background-blend-mode: hard-light;
  position: relative;
}
#bnrBg-atdp-curriculum-engineering {
  background-image: linear-gradient(to top, rgba(70,83,94,.5), rgba(70,83,94,1)), url("../images/atdp/atdp-curriculum-engineering.jpg");
  background-size: cover; 
  background-position: 50% 55%;
  background-blend-mode: hard-light;
  position: relative;
}
#bnrBg-atdp-curriculum-science {
  background-image: linear-gradient(to top, rgba(70,83,94,.5), rgba(70,83,94,1)), url("../images/atdp/atdp-curriculum-science.jpg");
  background-size: cover; 
  background-position: 50% 55%;
  background-blend-mode: hard-light;
  position: relative;
}
#bnrBg-atdp-curriculum-social-studies {
  background-image: linear-gradient(to top, rgba(70,83,94,.5), rgba(70,83,94,1)), url("../images/atdp/atdp-curriculum-social-studies.jpg");
  background-size: cover; 
  background-position: 50% 30%;
  background-blend-mode: hard-light;
  position: relative;
}

/* =========================
# ATDP Courses
========================= */
#bnrBg-atdp-courses {
  background-image: linear-gradient(to bottom, rgba(255,255,255,.1), rgba(255,255,255,0)), url("../images/atdp/courses/bg-atdp-courses.jpg");
  background-size: cover; 
  background-position: 50% 50%;
}
#bnrBg-architecture {
  background-image: url("../images/atdp/courses/atdp-architecture.jpg");
  background-size: cover; 
  background-position: 50% 50%;
  height: 60vh;
}


/* =========================
# LSI
========================= */
#bnrBg-lsi {
  background-image: url("../images/lsi/bg-lhs.jpg");
  background-size: cover; 
  background-position: 50% 60%;
}
#lsi-logo img {
  height: 70px;
  width: auto;
  padding-right: 20px;
}
#bnrBg-lsi-intro {
  background-image: linear-gradient(to right, rgba(0,0,0,.85), rgba(0,0,0,.2), transparent), url("../images/lsi/TechHive.jpg");
  background-size: cover; 
  background-position: 50% 55%;
  height: 60vh;
  position: relative;
}
#flexBg-lsi-nanosatellite {
  background-image: linear-gradient(to right, rgba(0,0,0,.5), transparent), url("../images/lsi/nanosatellite.jpg");
  background-size: cover; 
  background-position: 50% 70%;
}
#bnrBg-lsi-WindTurbine {
  background-image: url("../images/lsi/WindTurbine.jpg");
  background-size: cover; 
  background-position: 50% 0%;
  height: 40vh;
}
#bg-lsi-gear {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
#bg-lsi-gear:after {
  content: "";
  background-image: url("../images/bg/gear-technology.png"), url("../images/bg/blue-tech-elements-flip.png");
  background-size: 60%, 30%;
  background-repeat: no-repeat;
  background-position: 0% 100%, 90% 100%;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
#flexBg-lsi-eligibility {
  background-image: url("../images/lsi/IGI.jpg");
  background-size: cover; 
  background-position: 50% 50%;
}
#flexBg-lsi-admission {
  background-image: url("../images/lsi/BridgePosterPresentation.jpg");
  background-size: cover; 
  background-position: 50% 50%;
}
#flexBg-lsi-fee {
  background-image: url("../images/lsi/JocobsHallTour.jpg");
  background-size: cover; 
  background-position: 50% 50%;
}
#bnrBg-lsi-curriculum-nanosatellites {
  background-image: linear-gradient(to top, rgba(70,83,94,.5), rgba(70,83,94,1)), url("../images/lsi/CodingNanosatellite.jpg");
  background-size: cover; 
  background-position: 50% 60%;
  background-blend-mode: hard-light;
  position: relative;
}
#bnrBg-lsi-curriculum-structures {
  background-image: linear-gradient(to top, rgba(70,83,94,.5), rgba(70,83,94,1)), url("../images/lsi/DesigningStructures.jpg");
  background-size: cover; 
  background-position: 50% 60%;
  background-blend-mode: hard-light;
  position: relative;
}
#bnrBg-lsi-curriculum-bio {
  background-image: linear-gradient(to top, rgba(70,83,94,.5), rgba(70,83,94,1)), url("../images/lsi/BioDesign.jpg");
  background-size: cover; 
  background-position: 50% 10%;
  background-blend-mode: hard-light;
  position: relative;
}
#bnrBg-lsi-curriculum-stem {
  background-image: linear-gradient(to top, rgba(70,83,94,.5), rgba(70,83,94,1)), url("../images/lsi/STEMDisciplines.jpg");
  background-size: cover; 
  background-position: 50% 60%;
  background-blend-mode: hard-light;
  position: relative;
}

/* =========================
# SSD
========================= */
#bnrBg-ssd {
  background-image: url("../images/ssd/bg-ssd.jpg");
  background-size: cover; 
  background-position: 50% 45%;
}
#ssd-logo img {
  height: 80px;
  width: auto;
  padding-right: 20px;
}
#bnrBg-ssd-intro {
  background-image: url("../images/ssd/bg-ssd-intro.png");
  background-size: cover; 
  background-position: 50% 55%;
  height: 40vh;
  position: relative;
}
#ssd-intro-desktop {
  display: none;
}
#ssd-intro-mobile {
  display: block;
}
@media screen and (min-width: 768px) {
  #bnrBg-ssd-intro {
    background-image: url("../images/ssd/bg-ssd-intro.png");
    height: 80vh;
  }
  #ssd-intro-desktop {
    display: block;
    background-image: linear-gradient(to right, rgba(255,255,255,.6), transparent);
  }
  #ssd-intro-mobile {
    display: none;
  }
}
#bg-ssd-ggb {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
#bg-ssd-ggb:after {
  content: "";
  background-image: url("../images/bg/sf-skyline-green.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: .2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
#bnrBg-ssd-curriculum-component {
  background-image: linear-gradient(to top, rgba(0,0,0,.5), transparent),url("../images/ssd/bg-ssd-ucb-library.jpg");
  background-size: cover; 
  background-position: 50% 0%;
  height: 40vh;
  position: relative;
}
#bnrBg-ssd-residential-component {
  background-image: linear-gradient(to top, rgba(0,0,0,.5), transparent),url("../images/ssd/bg-ssd-residential-compont.jpg");
  background-size: cover; 
  background-position: 50% 100%;
  height: 40vh;
  position: relative;
}
#flexBg-ssd-housing {
  background-image: url("../images/ssd/housing.jpg");
  background-size: cover; 
  background-position: 50% 50%;
}
#flexBg-ssd-meals {
  background-image: url("../images/ssd/meals.jpg");
  background-size: cover; 
  background-position: 50% 50%;
}
#flexBg-ssd-activities {
  background-image: url("../images/ssd/sonoma-canopy-tours.jpg");
  background-size: cover; 
  background-position: 50% 50%;
}
#flexBg-ssd-activities-optional {
  background-image: url("../images/ssd/sf-excursion.jpg");
  background-size: cover; 
  background-position: 50% 50%;
}
#flexBg-ssd-application {
  background-image: url("../images/ssd/ziplining.jpg");
  background-size: cover; 
  background-position: 50% 50%;
}
#flexBg-ssd-fee {
  background-image: url("../images/ssd/socker-game.jpg");
  background-size: cover; 
  background-position: 50% 50%;
}

/* =========================
# WALEX
========================= */
#bnrBg-walex {
  background-image: url("../images/walex/bg-walex.jpg");
  background-size: cover; 
  background-position: 100% 80%;
}
#bnrBg-walex-intro {
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3)), url("../images/walex/walex-digital-globe.jpg");
  background-size: cover; 
  background-position: 50% 80%;
  height: 100vh;
  position: relative;
}
@media screen and (min-width: 768px) {
  #bnrBg-walex-intro {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.3), transparent), url("../images/walex/walex-digital-globe.jpg");
  }
}

/* =========================
# WFCC
========================= */
#bnrBg-wfcc {
  background-image: url("../images/wfcc/bg-wfcc.jpg");
  background-size: cover; 
  background-position: 50% 70%;
}
#wfcc-logo img:first-child {
  height: 120px;
  width: auto;
  padding-right: 20px;
}
#wfcc-logo img:nth-child(2) {
  height: 70px;
  width: auto;
  padding-right: 20px;
}
#bnrBg-wfcc-intro {
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3)), url("../images/wfcc/wfcc-students-writing.jpg");
  background-size: cover; 
  background-position: 50% 80%;
  height: 60vh;
  position: relative;
}
@media screen and (min-width: 768px) {
  #bnrBg-wfcc-intro {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.3), transparent), url("../images/wfcc/wfcc-students-writing.jpg");
  }
}
#wfcc-eligibility img {
  height: 35vh;
}
#flexBg-wfcc-admission {
  background-image: url("../images/wfcc/wfcc-admission.jpg");
  background-size: cover; 
  background-position: 50%;
  height: 60vh;
  position: relative;
}
#flexBg-wfcc-fee {
  background-image: url("../images/wfcc/wfcc-fee.jpg");
  background-size: cover; 
  background-position: 50%;
  height: 60vh;
  position: relative;
}
#bnrBg-wfcc-curriculum-essay {
  background-image: linear-gradient(to top, rgba(70,83,94,.5), rgba(70,83,94,1)), url("../images/wfcc/wfcc-essay.jpg");
  background-size: cover; 
  background-position: 50% 50%;
  background-blend-mode: soft-light;
  position: relative;
}
#bnrBg-wfcc-curriculum-research {
  background-image: linear-gradient(to top, rgba(70,83,94,.5), rgba(70,83,94,1)), url("../images/wfcc/wfcc-research-writing.jpg");
  background-size: cover; 
  background-position: 50% 50%;
  background-blend-mode: hard-light;
  position: relative;
}
#bnrBg-wfcc-curriculum-journalism {
  background-image: linear-gradient(to top, rgba(70,83,94,.5), rgba(70,83,94,1)), url("../images/wfcc/wfcc-journalism.jpg");
  background-size: cover; 
  background-position: 50% 50%;
  background-blend-mode: soft-light;
  position: relative;
}
#bnrBg-wfcc-curriculum-communication {
  background-image: linear-gradient(to top, rgba(70,83,94,.5), rgba(70,83,94,1)), url("../images/wfcc/wfcc-writing-for-communication.jpg");
  background-size: cover; 
  background-position: 50% 50%;
  background-blend-mode: hard-light;
  position: relative;
}

/* =========================
# SVSD
========================= */
#bnrBg-svsd {
  background-image: url("../images/svsd/bg-svsd.jpg");
  background-size: cover; 
  background-position: 50% 60%;
}
@media screen and (min-width: 768px) {
  #ohlone .flexImg {
    height: 75vh;
  }
}

/* =========================
# OFK
========================= */
#bnrBg-ofk {
  background-image: url("../images/ofk/bg-ofk.jpg");
  background-size: cover; 
  background-position: 50% 45%;
}
#bnrBg-ofk-intro {
  background-image: url("../images/ofk/bg-ofk-intro.jpg");
  background-size: cover; 
  background-position: 50% 45%;
  height: 60vh;
}
#flexBg-ofk-about {
  background-image: url("../images/ofk/ofk-about.jpg");
  background-size: cover; 
  background-position: 50% 50%;
}
#ofk-slide-1 {
  background-image: url("../images/ofk/ofk-advantage-1.jpg");
  background-size: cover; 
  background-position: 50% 40%;
}
#ofk-slide-2 {
  background-image: url("../images/ofk/ofk-advantage-2.jpg");
  background-size: cover; 
  background-position: 50% 30%;
}
#ofk-slide-3 {
  background-image: url("../images/ofk/ofk-advantage-3.jpg");
  background-size: cover; 
  background-position: 50% 40%;
}
#ofk-value img {
  border-radius: 18px 18px 0 0;
  height: 30vh;
}
#ofk-value figcaption {
  border-radius: 0 0 18px 18px;
}
#flexBg-ofk-housing {
  background-image: url("../images/ofk/ofk-housing.jpg");
  background-size: cover; 
  background-position: 50% 0%;
}
#flexBg-ofk-meals {
  background-image: url("../images/ofk/ofk-meals.jpg");
  background-size: cover; 
  background-position: 50% 50%;
}
#flexBg-ofk-activities {
  background-image: url("../images/ofk/ofk-activities.jpg");
  background-size: cover; 
  background-position: 50% 50%;
}
#flexBg-ofk-admission {
  background-image: url("../images/ofk/ofk-admission.jpg");
  background-size: cover; 
  background-position: 50% 50%;
}
#flexBg-ofk-fee {
  background-image: url("../images/ofk/ofk-fee.jpg");
  background-size: cover; 
  background-position: 50% 50%;
}
#bnrBg-ofk-wrapUp {
  background-image: url("../images/ofk/bg-ofk-wrapUp.jpg");
  background-size: cover; 
  background-position: 50% 10%;
}