/* =========================
# Index
========================= */
#bnrBg-index {
  background-image: url("../images/index/uc-berkeley-sather-gate.jpg");
  background-size: cover;
}
#flexBg-index-lsi {
  background-image: url("../images/index/bg-lsi-visiting-bair-lab.jpg");
  background-size: cover;
  background-position: 75% 50%;
}
@media screen and (min-width: 768px) {
  #flexBg-index-lsi {
    background-attachment: fixed;
    background-position: 100% 50%;
  }
}
#flexBg-index-walex {
  background: #00a598 url("../images/index/bg-walex-visiting-lawrence-hall-of-science.jpg");
  background-size: cover;
  background-position: 50%;
}

/* =========================
# About
========================= */
#bnrBg-about {
  background-image: url("../images/about/bg-cfm.jpg");
  background-size: cover; 
  background-position: 50% 60%;
}

/* =========================
# Berkeley
========================= */
#bnrBg-berkeley {
  background-image: url("../images/ucberkeley/bg-ucb.jpg");
  background-size: cover; 
  background-position: 50% 32%;
}

/* =========================
# ATDP
========================= */
#bnrBg-atdp {
  background-image: url("../images/atdp/bg-atdp.jpg");
  background-size: cover; 
  background-position: 50% 80%;
}
#atdp-logo img {
  height: 60px;
  width: auto;
}
#bnrBg-atdp-intro {
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3)), url("../images/atdp/atdp-counselors-at-campanile.jpg");
  background-size: cover; 
  background-position: 50% 80%;
  height: 60vh;
  position: relative;
}
@media screen and (min-width: 768px) {
  #bnrBg-atdp-intro {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.3), transparent), url("../images/atdp/atdp-counselors-at-campanile.jpg");
  }
}
#atdp-eligibility img {
  height: 40vh;
}
@media screen and (min-width: 1200px) {
  #atdp-eligibility img {
    height: 35vh;
  }
}
#bnrBg-atdp-admission {
  background-image: url("../images/atdp/atdp-go-bears.jpg");
  background-size: cover; 
  background-position: 50%;
  height: 60vh;
  position: relative;
}
#bnrBg-atdp-fee {
  background-image: url("../images/atdp/atdp-counselors.jpg");
  background-size: cover; 
  background-position: 50%;
  height: 60vh;
  position: relative;
}

/* =========================
# SVSD
========================= */
#bnrBg-svsd {
  background-image: url("../images/svsd/bg-svsd.jpg");
  background-size: cover; 
  background-position: 50% 60%;
}
@media screen and (min-width: 768px) {
  #ohlone .flexImg {
    height: 75vh;
  }
}

