/***************************************************
# Lato
***************************************************/
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/***************************************************
# Noto Sans
***************************************************/
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/***************************************************
# Roboto
***************************************************/
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/***************************************************
# Bebas Neue
***************************************************/
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


/***************************************************
# IM Fell Great Primer
***************************************************/
@font-face {
  font-family: "IM Fell Great Primer";
  src: url("../fonts/IMFellGreatPrimer-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IM Fell Great Primer";
  src: url("../fonts/IMFellGreatPrimer-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/***************************************************
# Comfortaa
***************************************************/
@font-face {
	font-family: Comfortaa;
	src: url("../fonts/Comfortaa-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Comfortaa;
	src: url("../fonts/Comfortaa-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Comfortaa;
	src: url("../fonts/Comfortaa-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

/***************************************************
# Montserrat
***************************************************/
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/***************************************************
# Montserrat
***************************************************/
@font-face {
  font-family: Righteous;
  src: url("../fonts/Righteous-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/***************************************************
# Ranga
***************************************************/
@font-face {
  font-family: Ranga;
  src: url("../fonts/Ranga-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Ranga;
  src: url("../fonts/Ranga-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}