.hero_with_promotion {
  margin-bottom: 60px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .hero_with_promotion {
    margin-bottom: 20px;
  }
}
.hero_with_promotion__container {
  padding: 0;
}
.hero_with_promotion__background {
  overflow: hidden;
  position: relative;
}
.hero_with_promotion__background__image {
  overflow: hidden;
  width: 100%;
}
.hero_with_promotion__background__image_default {
  min-width: 1199px;
  width: 100%;
}
.hero_with_promotion__background__image_4x3 {
  display: none;
  width: 100%;
}
.hero_with_promotion__background__image img {
  display: block;
  width: 100%;
}
@media all and (min-width: 1200px) {
  .hero_with_promotion__background__image {
    margin-top: 0;
  }
  .hero_with_promotion__background__gradient {
    background-image: linear-gradient(to bottom, rgba(16, 50, 90, 0.75) 0, rgba(16, 50, 90, 0) 100%);
    height: 300px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    visibility: visible;
    width: 100%;
    z-index: 1000;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
}
.hero_with_promotion__background__fallback {
  background: #000;
  height: 350px;
  width: 100%;
  overflow: hidden;
  transform: perspective(1px) skewY(2.5deg);
  transform-origin: top left;
  margin-top: -4.36609429vw;
  margin-bottom: 4.36609429vw;
  outline: transparent solid 1px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.hero_with_promotion__background__fallback > div:first-child {
  transform: perspective(1px) skewY(-2.5deg);
  transform-origin: top right;
  outline: transparent solid 1px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
@media only screen and (max-width: 1199px) {
  .hero_with_promotion__background__fallback {
    height: 285px;
  }
}
.hero_with_promotion.clip-supported .hero_with_promotion__container {
  position: relative;
}
.hero_with_promotion.clip-supported .hero_with_promotion__container img {
  outline: transparent solid 1px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.hero_with_promotion.clip-unsupported .hero_with_promotion__background__image {
  overflow: hidden;
  transform: perspective(1px) skewY(2.5deg);
  margin-top: -4.36609429vw;
  margin-bottom: 4.36609429vw;
  outline: transparent solid 1px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-origin: 50% 50%;
}
.hero_with_promotion.clip-unsupported .hero_with_promotion__background__image > div:first-child {
  transform: perspective(1px) skewY(-2.5deg);
  transform-origin: top right;
  outline: transparent solid 1px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
@media all and (max-width: 767px) {
  .hero_with_promotion .promotion_row {
    margin-top: -120px;
    position: relative;
    top: -5.24077793vw;
  }
}
.hero_with_promotion__promotion__wrapper {
  bottom: -75px;
  overflow: hidden;
  position: absolute;
  right: 60px;
  width: 450px;
  z-index: 1001;
}
@media only screen and (max-width: 767px) {
  .hero_with_promotion__background__fallback {
    height: 110px;
  }
  .hero_with_promotion--has_4x3 .hero_with_promotion__background__image_default {
    display: none;
  }
  .hero_with_promotion--has_4x3 .hero_with_promotion__background__image_4x3 {
    display: block;
  }
  .hero_with_promotion__promotion__wrapper {
    box-shadow: 20px 20px 21px -23px rgba(33, 33, 33, 0.35);
    display: block;
    position: relative;
    right: -2%;
    top: 0;
    width: 96%;
  }
  .hero_with_promotion__promotion__content.slope__content.clearfix {
    box-shadow: -4px 7px 9px -5px rgba(33, 33, 33, 0.35);
  }
}
.hero_with_promotion__promotion.slope__container {
  margin-top: 71.56px;
  margin-bottom: 71.56px;
  position: relative;
}
.hero_with_promotion__promotion.slope__container .slope__content {
  padding-bottom: 71.56px;
}
.hero_with_promotion__promotion.slope__container .slope__background {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.hero_with_promotion__promotion.slope__container .slope__background .slope {
  height: 100%;
  overflow: hidden;
  transform: perspective(1px) skewY(3.5deg);
  transform-origin: top left;
  outline: transparent solid 1px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.hero_with_promotion__promotion.slope__container .slope__background .slope .par_slope {
  height: 124.5%;
  position: relative;
  top: 0;
  transform: perspective(1px) skewY(-3.5deg);
  transform-origin: top right;
  outline: transparent solid 1px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background: #fff;
  background-size: cover;
}
.hero_with_promotion__promotion.slope__container .slope__background .slope .par_slope .funnel_slope {
  height: 100%;
}
@media all and (max-width: 767px) {
  .hero_with_promotion__promotion.slope__container {
    margin-bottom: 0 !important;
  }
}
.hero_with_promotion__promotion__content {
  padding-left: 25px;
  padding-right: 25px;
}
.hero_with_promotion__promotion__content.slope__content.clearfix {
  padding-bottom: 30px;
}
.hero_with_promotion__promotion__sub_title {
  margin: 60px 0 8px;
  max-height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.hero_with_promotion__promotion__title {
  margin-bottom: 10px;
  max-height: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.hero_with_promotion__promotion__body {
  max-height: 115px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hero_with_promotion__promotion__body :not(a) {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
.hero_with_promotion__promotion__background .mobile-fold {
  height: 15px;
  left: -2vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform: perspective(1px) skewY(3deg);
  transform-origin: top left;
  width: 100vw;
}
@media all and (max-width: 991px) {
  .hero_with_promotion__promotion__background .mobile-fold {
    width: 100%;
  }
}
.hero_with_promotion__promotion__background .mobile-fold img {
  height: 16px;
  position: absolute;
  right: 0;
  top: -2px;
  width: 2.2vw;
}
@media all and (min-width: 768px) {
  .hero_with_promotion__promotion__background .mobile-fold {
    display: none;
  }
}
.hero_with_promotion__promotion__background .slope {
  box-shadow: 0 6px 6px -6px rgba(33, 33, 33, 0.35);
}
.hero_with_promotion__promotion__background .slope .par_slope {
  overflow: hidden;
}
.hero_with_promotion__promotion__background .slope .par_slope img {
  bottom: 75px;
  opacity: 0.02;
  position: absolute;
  right: 0;
  -webkit-transform: translate(20%, 20%);
  -moz-transform: translate(20%, 20%);
  -ms-transform: translate(20%, 20%);
  -o-transform: translate(20%, 20%);
  transform: translate(20%, 20%);
  width: 50%;
}
body[data-resort="wildcatmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
  bottom: 105px;
}
body[data-resort="whitetail"] .hero_with_promotion__promotion__background .slope .par_slope img {
  bottom: 110px;
}
body[data-resort="paolipeaks"] .hero_with_promotion__promotion__background .slope .par_slope img {
  bottom: 90px;
  width: 40%;
}
body[data-resort="aftonalps"] .hero_with_promotion__promotion__background .slope .par_slope img,
body[data-resort="alpinevalley"] .hero_with_promotion__promotion__background .slope .par_slope img {
  bottom: 95px;
}
body[data-resort="attitashmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
  bottom: 115px;
}
body[data-resort="crotchedmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
  bottom: 85px;
}
body[data-resort="mtbrighton"] .hero_with_promotion__promotion__background .slope .par_slope img {
  bottom: 105px;
}
body[data-resort="snowcreek"] .hero_with_promotion__promotion__background .slope .par_slope img {
  bottom: 90px;
}
body[data-resort="libertymountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
  bottom: 20px;
}
body[data-resort="wildcatmountain"] .hero_with_promotion__promotion__background .slope .par_slope img,
body[data-resort="whitetail"] .hero_with_promotion__promotion__background .slope .par_slope img {
  -webkit-transform: translate(2%, 20%);
  -moz-transform: translate(2%, 20%);
  -ms-transform: translate(2%, 20%);
  -o-transform: translate(2%, 20%);
  transform: translate(2%, 20%);
}
body[data-resort="roundtopmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
  -webkit-transform: translate(8%, 32%);
  -moz-transform: translate(8%, 32%);
  -ms-transform: translate(8%, 32%);
  -o-transform: translate(8%, 32%);
  transform: translate(8%, 32%);
}
body[data-resort="aftonalps"] .hero_with_promotion__promotion__background .slope .par_slope img {
  -webkit-transform: translate(-10%, 10%);
  -moz-transform: translate(-10%, 10%);
  -ms-transform: translate(-10%, 10%);
  -o-transform: translate(-10%, 10%);
  transform: translate(-10%, 10%);
}
body[data-resort="alpinevalley"] .hero_with_promotion__promotion__background .slope .par_slope img {
  -webkit-transform: translate(0, 20%);
  -moz-transform: translate(0, 20%);
  -ms-transform: translate(0, 20%);
  -o-transform: translate(0, 20%);
  transform: translate(0, 20%);
}
body[data-resort="attitashmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
  -webkit-transform: translate(-11%, 8%);
  -moz-transform: translate(-11%, 8%);
  -ms-transform: translate(-11%, 8%);
  -o-transform: translate(-11%, 8%);
  transform: translate(-11%, 8%);
}
body[data-resort="crotchedmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
  -webkit-transform: translate(1%, 20%);
  -moz-transform: translate(1%, 20%);
  -ms-transform: translate(1%, 20%);
  -o-transform: translate(1%, 20%);
  transform: translate(1%, 20%);
}
body[data-resort="madrivermountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
  bottom: 0;
  -webkit-transform: translate(20%, 20%);
  -moz-transform: translate(20%, 20%);
  -ms-transform: translate(20%, 20%);
  -o-transform: translate(20%, 20%);
  transform: translate(20%, 20%);
}
body[data-resort="mtbrighton"] .hero_with_promotion__promotion__background .slope .par_slope img {
  -webkit-transform: translate(15%, 20%);
  -moz-transform: translate(15%, 20%);
  -ms-transform: translate(15%, 20%);
  -o-transform: translate(15%, 20%);
  transform: translate(15%, 20%);
}
body[data-resort="wilmotmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
  -webkit-transform: translate(5%, 10%);
  -moz-transform: translate(5%, 10%);
  -ms-transform: translate(5%, 10%);
  -o-transform: translate(5%, 10%);
  transform: translate(5%, 10%);
}
body[data-resort="wildcatmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
  width: 36%;
}
body[data-resort="whitetail"] .hero_with_promotion__promotion__background .slope .par_slope img {
  width: 40%;
}
body[data-resort="roundtopmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
  width: 64%;
}
body[data-resort="aftonalps"] .hero_with_promotion__promotion__background .slope .par_slope img {
  width: 40%;
}
body[data-resort="attitashmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
  width: 32%;
}
body[data-resort="crotchedmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
  width: 38%;
}
body[data-resort="madrivermountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
  width: 75%;
}
body[data-resort="mtbrighton"] .hero_with_promotion__promotion__background .slope .par_slope img {
  width: 44%;
}
body[data-resort="snowcreek"] .hero_with_promotion__promotion__background .slope .par_slope img {
  width: 40%;
}
body[data-resort="libertymountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
  width: 75%;
}
@media only screen and (max-width: 767px) {
  .hero_with_promotion__promotion__background .slope {
    box-shadow: none;
  }
  .hero_with_promotion__promotion__background .slope .par_slope img {
    bottom: 0;
    right: 0;
    width: 25%;
  }
  body[data-resort="wildcatmountain"] .hero_with_promotion__promotion__background .slope .par_slope img,
  body[data-resort="whitetail"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(2%, 82%);
    -moz-transform: translate(2%, 82%);
    -ms-transform: translate(2%, 82%);
    -o-transform: translate(2%, 82%);
    transform: translate(2%, 82%);
  }
  body[data-resort="roundtopmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(4%, 32%);
    -moz-transform: translate(4%, 32%);
    -ms-transform: translate(4%, 32%);
    -o-transform: translate(4%, 32%);
    transform: translate(4%, 32%);
  }
  body[data-resort="aftonalps"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(-10%, 70%);
    -moz-transform: translate(-10%, 70%);
    -ms-transform: translate(-10%, 70%);
    -o-transform: translate(-10%, 70%);
    transform: translate(-10%, 70%);
  }
  body[data-resort="jackfrostbigboulder"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(2%, 18%);
    -moz-transform: translate(2%, 18%);
    -ms-transform: translate(2%, 18%);
    -o-transform: translate(2%, 18%);
    transform: translate(2%, 18%);
  }
  body[data-resort="alpinevalley"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(2%, 82%);
    -moz-transform: translate(2%, 82%);
    -ms-transform: translate(2%, 82%);
    -o-transform: translate(2%, 82%);
    transform: translate(2%, 82%);
  }
  body[data-resort="attitashmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(-11%, 88%);
    -moz-transform: translate(-11%, 88%);
    -ms-transform: translate(-11%, 88%);
    -o-transform: translate(-11%, 88%);
    transform: translate(-11%, 88%);
  }
  body[data-resort="crotchedmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(1%, 82%);
    -moz-transform: translate(1%, 82%);
    -ms-transform: translate(1%, 82%);
    -o-transform: translate(1%, 82%);
    transform: translate(1%, 82%);
  }
  body[data-resort="mtbrighton"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(15%, 75%);
    -moz-transform: translate(15%, 75%);
    -ms-transform: translate(15%, 75%);
    -o-transform: translate(15%, 75%);
    transform: translate(15%, 75%);
  }
  body[data-resort="paolipeaks"] .hero_with_promotion__promotion__background .slope .par_slope img,
  body[data-resort="snowcreek"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(10%, 75%);
    -moz-transform: translate(10%, 75%);
    -ms-transform: translate(10%, 75%);
    -o-transform: translate(10%, 75%);
    transform: translate(10%, 75%);
  }
  body[data-resort="paolipeaks"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 28%;
  }
  body[data-resort="wildcatmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 25%;
  }
  body[data-resort="whitetail"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 28%;
  }
  body[data-resort="roundtopmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 44%;
  }
  body[data-resort="aftonalps"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 28%;
  }
  body[data-resort="attitashmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 22%;
  }
  body[data-resort="crotchedmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 26%;
  }
  body[data-resort="madrivermountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(20%, 44%);
    -moz-transform: translate(20%, 44%);
    -ms-transform: translate(20%, 44%);
    -o-transform: translate(20%, 44%);
    transform: translate(20%, 44%);
    width: 270px;
  }
  body[data-resort="mtbrighton"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 30%;
  }
  body[data-resort="snowcreek"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 28%;
  }
  body[data-resort="libertymountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(10%, 40%);
    -moz-transform: translate(10%, 40%);
    -ms-transform: translate(10%, 40%);
    -o-transform: translate(10%, 40%);
    transform: translate(10%, 40%);
    width: 240px;
  }
}
@media all and (max-width: 550px) {
  .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 40%;
  }
  body[data-resort="wildcatmountain"] .hero_with_promotion__promotion__background .slope .par_slope img,
  body[data-resort="whitetail"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(2%, 82%);
    -moz-transform: translate(2%, 82%);
    -ms-transform: translate(2%, 82%);
    -o-transform: translate(2%, 82%);
    transform: translate(2%, 82%);
  }
  body[data-resort="roundtopmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(4%, 32%);
    -moz-transform: translate(4%, 32%);
    -ms-transform: translate(4%, 32%);
    -o-transform: translate(4%, 32%);
    transform: translate(4%, 32%);
  }
  body[data-resort="aftonalps"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(-10%, 70%);
    -moz-transform: translate(-10%, 70%);
    -ms-transform: translate(-10%, 70%);
    -o-transform: translate(-10%, 70%);
    transform: translate(-10%, 70%);
  }
  body[data-resort="jackfrostbigboulder"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(2%, 18%);
    -moz-transform: translate(2%, 18%);
    -ms-transform: translate(2%, 18%);
    -o-transform: translate(2%, 18%);
    transform: translate(2%, 18%);
  }
  body[data-resort="alpinevalley"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(2%, 82%);
    -moz-transform: translate(2%, 82%);
    -ms-transform: translate(2%, 82%);
    -o-transform: translate(2%, 82%);
    transform: translate(2%, 82%);
  }
  body[data-resort="attitashmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(-11%, 88%);
    -moz-transform: translate(-11%, 88%);
    -ms-transform: translate(-11%, 88%);
    -o-transform: translate(-11%, 88%);
    transform: translate(-11%, 88%);
  }
  body[data-resort="crotchedmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(1%, 82%);
    -moz-transform: translate(1%, 82%);
    -ms-transform: translate(1%, 82%);
    -o-transform: translate(1%, 82%);
    transform: translate(1%, 82%);
  }
  body[data-resort="mtbrighton"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(15%, 75%);
    -moz-transform: translate(15%, 75%);
    -ms-transform: translate(15%, 75%);
    -o-transform: translate(15%, 75%);
    transform: translate(15%, 75%);
  }
  body[data-resort="paolipeaks"] .hero_with_promotion__promotion__background .slope .par_slope img,
  body[data-resort="snowcreek"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(10%, 75%);
    -moz-transform: translate(10%, 75%);
    -ms-transform: translate(10%, 75%);
    -o-transform: translate(10%, 75%);
    transform: translate(10%, 75%);
  }
  body[data-resort="madrivermountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(20%, 44%);
    -moz-transform: translate(20%, 44%);
    -ms-transform: translate(20%, 44%);
    -o-transform: translate(20%, 44%);
    transform: translate(20%, 44%);
  }
  body[data-resort="paolipeaks"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 28%;
  }
  body[data-resort="wildcatmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 25%;
  }
  body[data-resort="whitetail"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 28%;
  }
  body[data-resort="roundtopmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 44%;
  }
  body[data-resort="aftonalps"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 28%;
  }
  body[data-resort="attitashmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 22%;
  }
  body[data-resort="crotchedmountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 26%;
  }
  body[data-resort="madrivermountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 270px;
  }
  body[data-resort="mtbrighton"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 30%;
  }
  body[data-resort="snowcreek"] .hero_with_promotion__promotion__background .slope .par_slope img {
    width: 28%;
  }
  body[data-resort="libertymountain"] .hero_with_promotion__promotion__background .slope .par_slope img {
    -webkit-transform: translate(10%, 40%);
    -moz-transform: translate(10%, 40%);
    -ms-transform: translate(10%, 40%);
    -o-transform: translate(10%, 40%);
    transform: translate(10%, 40%);
    width: 240px;
  }
}
@media only screen and (max-width: 767px) {
  .hero_with_promotion__promotion {
    margin: auto;
  }
  .hero_with_promotion__promotion.slope__container {
    margin-top: 61.32px;
    margin-bottom: 61.32px;
    position: relative;
  }
  .hero_with_promotion__promotion.slope__container .slope__content {
    padding-bottom: 61.32px;
  }
  .hero_with_promotion__promotion.slope__container .slope__background {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .hero_with_promotion__promotion.slope__container .slope__background .slope {
    height: 100%;
    overflow: hidden;
    transform: perspective(1px) skewY(3deg);
    transform-origin: top left;
    outline: transparent solid 1px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .hero_with_promotion__promotion.slope__container .slope__background .slope .par_slope {
    height: 100%;
    position: relative;
    top: 0;
    transform: perspective(1px) skewY(-3deg);
    transform-origin: top left;
    outline: transparent solid 1px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background: #fff;
    background-size: cover;
  }
  .hero_with_promotion__promotion.slope__container .slope__background .slope .par_slope .funnel_slope {
    height: 100%;
  }
  .hero_with_promotion__fold {
    display: none;
  }
}
.hero_with_promotion__fold {
  border-bottom: 120px solid transparent;
  border-left: 60px solid rgba(99, 99, 99, 0.5);
  border-top: 60px solid transparent;
  bottom: -28px;
  height: 0;
  position: absolute;
  right: 0;
  width: 0;
  z-index: -1;
}
.hero_with_promotion .clipPaths {
  position: absolute;
}
.DAB-20 .promotion_row {
  display: none;
}
@media all and (max-width: 767px) {
  .DAB-20.hero_with_promotion {
    margin-bottom: 60px;
  }
}
.DAB-20.clip-unsupported .hero_with_promotion__background__image {
  margin: 0;
  transform: none !important;
}
.DAB-20.clip-unsupported .hero_with_promotion__background__image_4x3,
.DAB-20.clip-unsupported .hero_with_promotion__background__image_default {
  transform: none !important;
}
.DAB-20 .hero_with_promotion__fold {
  display: none;
}
.DAB-20 .hero_with_promotion__background__image img {
  -webkit-clip-path: none !important;
  clip-path: none !important;
}
.DAB-20--ready .hero_with_promotion__background__image {
  display: none;
}
