/* =========================
# General
========================= */
html {
  font-family: sans-serif;
  line-height: 1.5;
}
body {
  margin: 0;
  font-family: "Noto Sans", "Montserrat", "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3e4444;
  text-align: left;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  flex: 1; 
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
h1 {
  font-size: 2.5rem;
  font-size: clamp(2rem, 4vw, 2.5rem);
}
h2 { 
  font-size: 2rem;
  font-size: clamp(1.5rem, 3.5vw, 2rem);
}
h3 { 
  font-size: 1.75rem;
  font-size: clamp(1.17rem, 3vw, 1.75rem);
}
h4 { 
  font-size: 1.5rem;
  font-size: clamp(1rem, 3vw, 1.5rem);
}
h5 { 
  font-size: 1.25rem;
  font-size: clamp(.875rem, 2.5vw, 1.25rem);
}
h6 { 
  font-size: 1rem;
  font-size: clamp(.875rem, 2vw, 1rem);
}
p {
  font-size: 1rem;
  font-size: clamp(.875rem, 2vw, 1rem);
  line-height: 1.75;
}
nav a:link, nav a:visited {
  color: #3e4444;
  text-decoration: none;
}
nav a.selected {
  color: #6a929e;
}
nav a:hover, nav a:active, 
nav a.selected:hover, 
nav a.selected:active {
  color: #6a929e;
  text-decoration: underline;
}
main a:link,
main a:visited {
  color: #0091ae;
  text-decoration: none;
}
main a:hover,
main a:active {
  color: #007a8c;
  text-decoration: underline;
}
main a.myBtn {
  color: #ffffff;
}
::selection {
  background: #ffe533;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.IMFellGreatPrimer {
  font-family: "IM Fell Great Primer", sans-serif;
}
.satherBg {
  background-color: #b9d3b6;
  padding: 5vh 0;
  margin: 0;
}
.atdp {
  background-color: rgba(0,176,218,.4);
}
.lsi {
  background-color: rgba(0,48,204,.4);
}
.wfcc {
  background-color: rgba(41,94,121,.4);
}
.ofk {
  background-color: rgba(255,192,0,.4);
}
.ssd {
  background-color: rgba(120,163,0,.4);
}
.walex {
  background-color: rgba(255,51,0,.4);
}
#cfmSummerUCB {
  font-weight: 700;
  background-color: rgba(98,124,131,.2);
  border-radius: 15px;
}
.anchor {
  margin-top: 50px;
}

/* =========================
# Navigation Bar & Logo
========================= */
.navBar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 2vw;
  background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,0));
  z-index: 999;
  transition: all .5s ease-out;
}
.navBar.shrink {
  height: 50px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
}
.navLogo a {
  display: block;
  height: 80px;
  transition: all .5s ease-out;
}
.navLogo a.shrink {
  height: 50px;
}
.navLogo img {
  height: 70px;
  padding: 3px 5px;
  margin: 5px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,.8));
  box-shadow: 3px 3px rgba(238,238,238,.5);
  transition: all .5s ease-out;
}
@media screen and (min-width: 768px) {
  .navLogo img {
    height: 80px;
    margin: 10px;
  }
}
.navLogo img.shrink {
  height: 44px;
  margin: 3px auto;
  box-shadow: none;
}

/* =========================
# Navigation Icon
========================= */
.navToggle {
  position: absolute;
  top: 0;
  right: 3vw;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  .navToggle {
    display: none;
  }
}
.iconBar {
  display: block;
  position: absolute;
  right: 1.5vw;
  width: 26px;
  height: 3px;
  background-color: #ffffff;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.iconBar:nth-child(1) {
  top: 17px;
}
.iconBar:nth-child(2) {
  top: 25px;
}
.iconBar:nth-child(3) {
  top: 33px;
}
.iconBar.shrink {
  background-color: #3e4444;
}
.navToggle.active .iconBar:nth-child(1) {
  top: 24px;
  background-color: #3e4444;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navToggle.active .iconBar:nth-child(2) {
  width: 0;
}
.navToggle.active .iconBar:nth-child(3) {
  top: 24px;
  background-color: #3e4444;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* =========================
# Navigation Menu
=========================*/ 
.navMenu {
  position: fixed;
  width: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ffffff;
  background-image: url("../icon/cfm-logo.png");
  background-repeat: no-repeat;
  background-size: 140px 84px;
  background-position: 98% 98%;
  transition: all 0.3s ease-in-out;
}
.navMenu.active {
  width: 100%;
}
.navMenu > ul {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-left: 15vw;
}
@media screen and (min-width: 768px) {
  .navMenu {
    position: relative;
    width: auto;
    overflow-y: hidden;
    background: none;
  }
  .navMenu > ul {
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
}
.navMenu > ul > li > a {
  display: block;
  position: relative;
  font-size: clamp(1.25rem, 3.5vw, 1.35rem);
  margin-top: 5vh;
}
@media screen and (min-width: 768px) {
  .navMenu > ul > li > a:link, 
  .navMenu > ul > li > a:visited {
    color: #ffffff;
    font-size: clamp(1.125rem, 2.5vw, 1.25rem);
    line-height: 80px;
    padding: 0 1.5vw;
    margin-top: 0;
    transition: all .3s ease;
  }
  .navMenu > ul > li > a.shrink {
    color: #3e4444;
    line-height: 50px;
  }
  .navMenu > ul > li > a:hover,
  .navMenu > ul > li > a.selected {
    color: #85b5c4;
    text-decoration: none;
  }
  .navMenu > ul > li > a.shrink:hover,
  .navMenu > ul > li > a.shrink.selected {
    color: #6a929e;
    text-decoration: none;
  }
}
.navDeco:before {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    90deg, rgba(185,211,182,1), rgba(185,211,182,0));
  margin: 1% 0;
}
@media screen and (min-width: 768px) {
  .navDeco:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    background-color: #6a929e;
    background-image: none;
    margin: 0;
    transition: all .3s ease-out;
  }
  .navDeco:hover:before {
    width: 50%;
  }
}

/* =========================
# Navigation Menu - Dropdown
========================= */
@media screen and (min-width: 768px) {
  .navDropdown {
    display: none;
  }
  .navMenu li:hover > .navDropdown {
    display: block;
    position: fixed;
    top: 80px;
    width: clamp(60px, 20vw, 160px);
    background: #ffffff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.2);
    transition: all .5s ease-out;
  }
  .navMenu li:hover > .navDropdown.shrink {
    top: 50px;
  }
  #svsd > .navDropdown {
    width: clamp(200px, 30vw, 300px);
  }
  .navDropdown a {
    display: block;
    position: relative;
    line-height: 35px;
    padding: 1vh 1.5vw; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navDropdown a:hover,
  .navDropdown a.selected:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #6a929e;
  }
  .navDropdown > li:last-child > a {
    border-bottom: none;
  }
}

/* =========================
# Sub Navigation
========================= */
.subNavigation {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  color: #3e4444;
  padding: 0 3vw;
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px -10px #6a929e;
}
.subNavigation.stickyDiv {
  position: fixed;
  top: 50px;
  z-index: 500;
}
.subNavigation a {
  color: #3e4444 !important;
  display: inline-block;
  position: relative;
  line-height: 35px;
  text-decoration: none;
  padding: 0 1vw;
}
.subNavigation a:hover,
.subNavigation a.active {
  color: #ffffff !important;
  text-decoration: none;
  background-color: #6a929e;
}

/* =========================
# Image Banner 
========================= */
.bnrContainer {
  position: relative;
  background-size: cover;
  background-position: 50%;
  margin-top: 50px;
  height: 50vh;
  overflow: hidden;  /* for skrollr */
}
.mainBnrBg.bnrContainer {
  height: 60vh;
  margin-top: 0px;
}
.topBanner.bnrContainer {
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  .bnrContainer {
    height: 60vh;
  }
  .mainBnrBg.bnrContainer {
    height: 70vh;
  }
}
@media screen and (min-width: 992px) {
  .bnrContainer {
    height: 70vh;
  }
  .mainBnrBg.bnrContainer {
    height: 85vh;
  }
}
.bnrOverlay-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 30%;
  background-color: transparent;   
  background-image: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,.01), transparent);
}
.bnrOverlay-top-w {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 30%;
  background-color: transparent;   
  background-image: linear-gradient(to bottom, rgba(255,255,255,.5), rgba(255,255,255,.001), transparent);
}
.bnrOverlay-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  background-color: transparent;   
  background-image: linear-gradient(to left, rgba(0,0,0,.7), rgba(0,0,0,.01), transparent);
}
.bnrOverlay-right-w {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  background-color: transparent;   
  background-image: linear-gradient(to left, rgba(255,255,255,.5), rgba(255,255,255,.01), transparent);
}
.bnrOverlay-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30%;
  background-color: transparent;   
  background-image: linear-gradient(to top, rgba(0,0,0,.7), rgba(0,0,0,.01), transparent);
}
.bnrOverlay-bottom-w {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30%;
  background-color: transparent;   
  background-image: linear-gradient(to top, rgba(255,255,255,.5), rgba(255,255,255,.01), transparent);
}
.bnrOverlay-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  background-color: transparent; 
  background-image: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,.01), transparent);
}
.bnrOverlay-left-w {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: transparent; 
  background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,.01), transparent);
}
.bnrContent-bl {   
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 0 2% 5%;  /*add bottom left padding*/
}
.bnrContent-bl h1 {
  display: inline-block;
  color: #ffffff;
  font-size: clamp(30px, 5vw, 36px); 
  text-transform: uppercase;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.5), 4px 8px 13px rgba(0,0,0,0.1), 4px 18px 23px rgba(0,0,0,0.1);
  font-weight: 600;
}
.bnrContent-bl.titleCase h1 {
  text-transform: none;
}
@media screen and (min-width: 768px) {
  .bnrContent-bl h1 {
    font-size: clamp(36px, 5vw, 50px); 
    font-weight: 700;
  }
}

/* =========================
# Section Header
========================= */
.sectionHeader {
  display: flex;
  margin: 50px 0 0 0;
  font-size: clamp(26px, 5vw, 30px);
  font-weight: 700;
}
.sectionHeader:before,
.sectionHeader:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #cccccc;
  margin: auto;
}
.sectionHeader:before {
  margin-right: 1.5%;
}
.sectionHeader:after {
  margin-left: 1.5%;
}
@media screen and (max-width: 450px) {
  .sectionHeader {
    font-size: clamp(20px, 5.5vw, 26px); 
  }
}
@media screen and (min-width: 768px) {
  .sectionHeader {
    font-size: clamp(30px, 4vw, 36px); 
  }
}
@media screen and (min-width: 992px) {
  .sectionHeader {
    font-size: clamp(32px, 4.2vw, 42px); 
  }
}

/* =========================
# Div Header
=========================*/
.divHeader {
  color: #627c83;
  font-weight: 600;
  text-align: center;
}

/* =========================
# Flex Container
=========================*/ 
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-evenly;
  justify-content: space-evenly;
  position: relative;
}
.flexMiddle {
  align-items: center;
}

/* =========================
# Flex Container - Half
=========================*/ 
.flexHalf {
  flex: 100%;
  max-width: 100%;
  margin-top: 50px;
}
.flexText {
  padding: 0% 10%;
}
.flexImg {
  width: 100%;
  height: 50vh;
  max-height: 300px;
}
@media screen and (min-width: 768px) {
  .flexHalf {
    flex: 50%;
    max-width: 50%;
  }
  .flexText {
    padding: 0% 6%;
  }
  .flexImg {
    height: 60vh;
    max-height: 550px;
  }
}
@media screen and (min-width: 992px) {
  .flexImg {
    height: 65vh;
    max-height: 600px;
  }
}
.flexOrder-1 {
  -webkit-order: 2;
  order: 2;
}
.flexOrder-2 {
  -webkit-order: 1;
  order: 1;
}
@media screen and (min-width: 768px) {
  .flexOrder-1 {
    -webkit-order: 1;
    order: 1;
  }
  .flexOrder-2 {
    -webkit-order: 2;
    order: 2;
  }
}

/* =========================
# Flex Container - Third
=========================*/
.flexThird {
  flex: 40%;
  max-width: 40%;
}
@media screen and (max-width: 600px) {
  .flexThird {
    flex: 80%;
    max-width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .flexThird {
    flex: 30%;
    max-width: 30%;
  }
}
@media screen and (min-width: 1200px) {
  .flexThird {
    flex: 25%;
    max-width: 25%;
  }
}

/* =========================
# Flex 1/3 & 2/3
=========================*/
.flexOneThird {
  flex: 100%;
  max-width: 100%;
  margin-top: 50px;
}
.flexTwoThird {
  flex: 100%;
  max-width: 100%;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .flexOneThird {
    flex: 30%;
    max-width: 30%;
  }
  .flexTwoThird {
    flex: 70%;
    max-width: 70%;
  }
}

/* =========================
# Text Container
=========================*/ 
.textContainer {
  margin: 50px auto 0;
  padding: 1rem 2rem;
  max-width: 1000px;
}


/* =========================
# Text Container
=========================*/ 
.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.textWrapper h2:after {
  content: "";
  display: block;
  background-color: #ffa500;
  height: 6px;
  width: 100px;
  margin: 3% 0;
  border-radius: 4px;
}

/* =========================
#   Quote Container
=========================*/ 
.quoteWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;   /*lined paper background*/
  background-image:
  linear-gradient(90deg, transparent 79px, rgba(171,206,212,.5) 79px, rgba(171,206,212,.5) 81px, transparent 81px),
  linear-gradient(rgba(238,238,238,.9) .1em, transparent .1em);
  background-size: 100% 1.2em;
}
.quoteContent {
  font-size: clamp(28px, 5vw, 30px);
  font-family: "IM Fell Great Primer";
}
.quoteContent:before {
  content: "";
  display: block;
  font-family: "FontAwesome";
  font-size: clamp(46px, 8vw, 50px);
}
.quoteContent.quotation:before {
  content: "\f10d";   /*Quotation Icon*/
  color: #ed4e33;
}
.quoteContent.bookmark:before {
  content: "\f02e";   /*Bookmark Icon*/
  color: #00b0da;
}
.quoteName {
  font-size: clamp(14px, 2.5vw, 16px);
}
@media screen and (min-width: 768px) {
  .quoteContent {
    font-size: clamp(26px, 3.5vw, 30px);
  }
  .quoteContent:before {
    font-size: clamp(50px, 7vw, 55px);
  }
  .quoteName {
    font-size: clamp(16px, 2.5vw, 18px);
  }
}
@media screen and (min-width: 992px) {
  .quoteContent {
    font-size: clamp(26px, 3.6vw, 32px);
  }
}

/* =========================
# Program Preview
=========================*/
.progPreview {
  background-color: #ffffff;
  margin: 1rem;
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  overflow: hidden;
}
.progPreview:hover {
  box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.16),0 2px 10px 5px rgba(0,0,0,0.12);
}
.progPreview figcaption {
  padding: 1% 0;
}
.progPreview span {
  font-weight: 600;
  padding: 0 5%; 
}
.progPreview img {
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s;
}
.progPreview:hover img {
  opacity: .85;
}
.figureCaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0 5%;
}
.figureCaption h4:after {
  content: "";
  display: block;
  background-color: #aaaaaa;
  width: 50%;
  height: 1px;
  margin: 3% 0;
}

/* =========================
# Button - Learn More
=========================*/
.myBtn {
  padding: 1% 3%;
  margin-bottom: 5%;
  text-decoration: none;
  transition: all .3s ease-out; 
}
.myBtn-learnMore {
  background-color: rgba(237,78,51,.8);
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 80% 100%, 0 100%);
}
.myBtn-learnMore:hover { 
  background-image: linear-gradient(to bottom right, rgba(237,78,51,0), rgba(237,78,51,1));
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
}
.myBtn-learnMore:after {
  content: "\f054";
  color: #ffffff;
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  padding: 0 15px;
  transition: all 0.2s ease;
}

/* =========================
# Main - Background Image
========================= */
#bnrBg-satherGate {
  background-image: url("../images/index/uc-berkeley-sather-gate.jpg");
}
#mainBg-LSI {
  background-image: url("../images/index/bg-lsi-visiting-bair-lab.jpg");
  background-size: cover;
  background-position: 75% 50%;
}
@media screen and (min-width: 768px) {
  #mainBg-LSI {
    background-attachment: fixed;
    background-position: 100% 50%;
  }
}
#mainBg-WALEX {
  background: #00a598 url("../images/index/bg-walex-visiting-lawrence-hall-of-science.jpg");
  background-size: cover;
  background-position: 50%;
}
#bnrBg-about {
  background-image: url("../images/about/bg-about-cfm.jpg");
  background-size: cover; 
  background-position: 50% 60%;
}
#bnrBg-atdp {
  background-image: url("../images/atdp/bg-atdp.jpg");
  background-size: cover; 
  background-position: 50%;
}
/* =========================
# Gallery
=========================*/ 
.galleryContainer {
  background-color: #E4EEED;
  margin-top: 50px;
  margin-bottom: -50px; 
  padding-bottom: 1%;
  text-align: center;
  border-radius: 0 200px 200px 0;
}
@media screen and (min-width: 768px) {
  .galleryContainer {
    border-radius: 35% 0 35% 0;
  }
}

/* =========================
# Video Gallery
=========================*/ 
.videoGallery {       
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
  margin: 0 auto;
  padding: 2%;
  max-width: 1000px;
}
.videoGalleryItem {
  position: relative;
  width: 45%;
  max-width: 45%;
  height: 40vh;
  overflow: hidden;
  margin: 2%;
  background: #000000;
  cursor: pointer;
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.videoGalleryItem:hover {
  box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.16),0 2px 10px 5px rgba(0,0,0,0.12);
}
@media screen and (max-width: 600px) {
  .videoGalleryItem {
    width: 90%;
    max-width: 90%;
  }
}
.videoGalleryItem img {
  position: relative;
  opacity: .7;
  width: 105%;
  height: 300px;
  object-fit: cover;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.videoGalleryItem:hover img {
  opacity: .4;
  transform: scale(1.05);
}
.videoGalleryItem-caption {
  padding: 1.2em;
  color: #fff;
  text-transform: uppercase;
}
.videoGalleryItem-caption,
.videoGalleryItem-caption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videoGalleryItem-caption > a {
  z-index: 800;
}
.videoGalleryItem-caption h2 {
  position: relative;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 300;
  overflow: hidden;
  padding: 0.2em 0;
  margin: 0;
  z-index: 10;
}
.videoGalleryItem-caption h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 1px;
  background: #fff;
  transition: transform 0.3s;
  transform: translate3d(-100%, 0, 0);
}
.videoGalleryItem-caption:hover h2::after {
  transform: translate3d(0, 0, 0);
}
.videoGalleryItem-caption i {
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* =========================
# Photo Gallery
=========================*/ 
.photoGallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  padding: 1%;
  margin-bottom: 50px;
}
.photoGalleryItem {
  position: relative;
  overflow: hidden;
  width: 30%;
  max-width: 30%;
  height: 25vh;
  margin: 2% -1%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
@media screen and (min-width: 768px) {
  .photoGalleryItem {
    width: 20%;
    max-width: 20%;
    height: 30vh;
  }
}
.photoGalleryItem:hover {
  box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.16),0 2px 10px 5px rgba(0,0,0,0.12);
}
.photoGalleryItem.rotate10 {
  transform: rotate(10deg);
}
.photoGalleryItem.rotate-10 {
  transform: rotate(-10deg);
}
.photoGalleryItem.rotate2 {
  transform: rotate(2deg);
}
.photoGalleryItem.rotate-2 {
  transform: rotate(-2deg);
}
.photoGalleryItem img {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 10px 30px 10px;
  object-fit: cover;
  transition: opacity 0.35s, transform 0.35s;
}
.photoGalleryItem img:hover {
  opacity: .8;
  transform: scale(1.02);
}
.photoGalleryItem i {
  color: #fff;
  position: absolute;
  font-size: 2rem;
  top: 15%;
  left: 15%;
  transform: translate(-50%, -40%);
}
@media screen and (min-width: 768px) {
  .photoGalleryItem i {
    font-size: 2.5rem;
  }
}

/* =========================
# Video Banner
=========================*/ 
.bnrContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.videoTitle {
  position: absolute;
  top: 0;
  left: 0; 
  padding: 2% 0 0 5%;   /* add top left padding for text */
}
.videoTitle h2 {
  color: #ffffff;
  font-size: clamp(30px, 5vw, 36px); 
  text-shadow: 4px 4px 3px rgba(0,0,0,0.5), 4px 8px 13px rgba(0,0,0,0.1), 4px 18px 23px rgba(0,0,0,0.1);
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .videoTitle h2 {
    font-size: clamp(36px, 5vw, 50px); 
    font-weight: 700;
  }
}

/* =========================
# Footer
========================= */
footer {
  height: auto;
  background-color: #b9d3b6;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .flexContainer {
  border-bottom: 1px solid #aaaaaa;
}
.flexFooter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3vw;
}
.footerRow {
  flex: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaaaaa;
}
@media screen and (min-width: 768px) {
  .flexFooter .footerRow:first-child {
    align-items: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .flexFooter .footerRow:last-child {
    border-bottom: none;
  }
}
#coName.footerRow {
  align-items: flex-end;
}
.coName a,
.coName a:hover {
  text-decoration: none;
}
.coName h3 {
  line-height: 25px;
  padding: 0 5px;
  margin: 0;
  color: #3d6ca3;
  font-size: 16px;
}
#coName {
  color: #4c5f66;
  border: 1px solid #4c5f66;
}
#coSlogan {
  color: #ffffff;
  background-color: #4c5f66;
  border: 1px solid #4c5f66;
}
.coMedia a {
  padding-left: 10px;
}
.coMedia img {
  width: 30px;
  border-radius: 50%;
  transform: translateY(25%);
}
.coMedia img:hover {
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.12);
}
#coAbout.footerRow a {
  color: #4c5f66;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  padding: 10px 0 0 0;
}
#coAbout.footerRow a:last-child {
  color: #e9832e;
}
#coAbout.footerRow a:hover {
  color: #007a8c;
}
#coContact.footerRow ul li, #coContact.footerRow ul li a {
  color: #4c5f66;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  padding: 10px 20px 0 0;
}
#coContact.footerRow a:hover {
  color: #007a8c;
  text-decoration: underline;
}
#searchBar.footerRow div {
  flex: 1;
}
.footerBox {
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .footerBox {
    margin-bottom: 0;
  }
}
.progBox {
  flex: 30%;
  max-width: 30%;
  text-align: left;
  line-height: 30px;
  padding: 2%;
}
.progBox a {
  color: #3e4444;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}
.progBox a:hover {
  color: #007a8c;
}
.progBox li a {
  font-size: 18px;
  font-weight: normal;
}
.copyright {
  text-align: center;
  height: 15vh;
  line-height: 15vh;
  margin-bottom: 0;
}





